[Unit]
Description=Diet server

[Service]
EnvironmentFile=/var/www/env

ExecStart=/var/www/app

ExecStop=/bin/kill -HUP $MAINPID

ExecReload=/bin/kill -HUP $MAINPID && /var/www/app

Restart=yes